.container-box {
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 12px;
    max-width: 600px;
    margin: 20px auto;
    background: #ffffffaa;
    backdrop-filter: blur(4px);
}
.menu-grid .item-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 0.5em;
}
